---
- name: Install auditd required packages (Linux only)
  ansible.builtin.package:
    name:
      - audispd-plugins
    state: present
  notify: restart auditd
  tags:
    - baseline:auditd
    - baseline:auditd:packages

- name: Configure audispd syslog plugin (Linux only)
  ansible.builtin.template:
    src: templates/auditd/plugins.d/syslog.conf.j2
    dest: /etc/audit/plugins.d/syslog.conf
    owner: root
    group: root
    mode: "0640"
  notify: reload audit rules
  tags:
    - baseline:auditd
    - baseline:auditd:plugins
    - baseline:auditd:config

- name: Deploy audit rules (Linux only)
  ansible.builtin.template:
    src: "templates/auditd/rules.d/{{ item.src }}"
    dest: "/etc/audit/rules.d/{{ item.dest | default(item.src) }}"
    owner: root
    group: root
    mode: "0640"
  loop:
    - { src: 10-base-config.rules }
    - { src: 30-actions.rules }
    - { src: 31-audit_rules_usergroup_modification.rules }
    - { src: 32-activity.rules }
    - { src: 33-access.rules }
    - { src: 34-delete.rules }
    - { src: 35-logins.rules }
    - { src: 36-session.rules }
    - { src: 70-system_local.rules }
    - { src: 71-MAC_policy.rules }
    - { src: 72-maintenance.rules }
    - { src: 73-modules.rules }
    - { src: 73-mounts.rules }
    - { src: 74-perm_mod.rules }
    - { src: 75-privileged.rules }
    - { src: 76-setgid.rules }
    - { src: 77-setuid.rules }
    - { src: 78-time_change.rules }
    - { src: 99-finalize.rules }
  notify: reload audit rules
  tags:
    - baseline:auditd
    - baseline:auditd:rules
    - baseline:auditd:config