[domain/sigaint.au]
id_provider = ipa
dns_discovery_domain = sigaint.au
ipa_server = _srv_, ipa-2.syd.sigaint.au
ipa_domain = sigaint.au
ipa_hostname = {{ansible_fqdn}}
auth_provider = ipa
chpass_provider = ipa
access_provider = ipa
cache_credentials = True
ldap_tls_cacert = /etc/ssl/certs/freeipa-ca.crt
krb5_store_password_if_offline = True
pam_gssapi_services      = sudo, sudo-i

[sssd]
services = pam, ssh, sudo, ifp, pac, nss
domains = sigaint.au

[nss]

homedir_substring = /home
{% if sssd_override_shell %}
override_shell = {{sssd_override_shell}}
{% endif %}

[pam]
# We disable this on FreeBSD else authentication
# will hang for a while.
pam_passkey_auth = false

[autofs]

[ssh]

[pac]

[ifp]

[session_recording]