{
    "shell": "/bin/bash",  // Change if default shell is different
    "notice": "\n It is a criminal offence for unauthorised persons or devices to connect to this system.

. \n\n",

    "log": {
      "input": false,
      "output": true,
      "window": true
    },

    "writer": "journal",
    "journal": {
      "priority": "info",
      "augment": true
    }
}