---
- name: sigaint-soe | fleet | deploy fleet rpms
  ansible.builtin.dnf:
    name: "{{fleet_rpm_url}}"
    state: present
    disable_gpg_check: true
  tags:
    - baseline:fleet
    - baseline:fleet:configure
