---
- name: Configure systemd-resolved
  ansible.builtin.template:
    src: ../templates/systemd-resolved/resolved.conf.j2
    dest: /etc/systemd/resolved.conf
    mode: '0644'
  notify: "restart systemd-resolved"
  tags: [dns, systemd-resolved, dns-config]

- name: Make NetworkManager use systemd-resolved
  ansible.builtin.template:
    src: ../templates/networkmanager/dns.conf.j2
    dest: /etc/NetworkManager/conf.d/dns.conf
    mode: '0644'
  notify: "restart networkManager"
  tags: [dns, networkmanager, dns-config]
