BASE        dc=sigaint,dc=au
URI         ldaps://ipa-1.syd.sigaint.au ldaps://ipa-2.syd.sigaint.au ldaps://ipa-3.syd.sigaint.au
SASL_MECH   GSSAPI
SASL_REALM  SIGAINT.AU
TLS_CACERT  /etc/ssl/certs/freeipa-ca.crt
