---
- name: Check if Falco GPG key is already imported
  ansible.builtin.command: rpm -q gpg-pubkey --qf '%{name}-%{version}-%{release} %{summary}\n'
  register: imported_keys
  changed_when: false

- name: Import Falco GPG key (only if not present)
  ansible.builtin.command: rpm --import https://falco.org/repo/falcosecurity-packages.asc
  when: "'cncf-falco-dev@lists.cncf.io' not in imported_keys.stdout"
  changed_when: false

- name: Add Falco YUM repository
  get_url:
    url: https://falco.org/repo/falcosecurity-rpm.repo
    dest: /etc/yum.repos.d/falcosecurity.repo
    mode: '0644'
  register: repo_added

- name: Refresh package cache if repo added
  dnf:
    update_cache: yes
  when: repo_added.changed

- name: Install Falco package non-interactively with modern_ebpf driver
  dnf:
    name: falco
    state: latest
  environment:
    FALCO_FRONTEND: noninteractive
    FALCO_DRIVER_CHOICE: modern_ebpf

- name: Download additional rules files
  get_url:
    url: "{{ rule.url }}"
    dest: "{{ rule.dest }}"
    mode: '0644'
  loop: "{{ falco_additional_rules }}"
  loop_control:
    loop_var: "rule"
  register: additional_rules_downloaded
  notify: Restart Falco

- name: Deploy Falco configuration with all desired rules files
  template:
    src: templates/falco/falco.yaml.j2
    dest: /etc/falco/falco.yaml
    mode: '0644'
  notify: Restart Falco


- name: Find all old rule files
  ansible.builtin.find:
    paths: /etc/falco/rules.d
    recurse: no
    file_type: file
    excludes:
      - exceptions.yaml
      - detections.yaml
      - cve_2025_32463.yaml
  register: files_found

- name: Delete unwanted rule files
  ansible.builtin.file:
    path: "{{ item.path }}"
    state: absent
  loop: "{{ files_found.files }}"
  loop_control:
    label: "{{ item.path | basename }}"
  when: files_found.matched > 0

- name: Deploy custom falco rules
  ansible.builtin.template:
    src: "templates/falco/rules.d/{{ item.src }}"
    dest: "/etc/falco/rules.d/{{ item.dest | default(item.src) }}"
    owner: root
    group: root
    mode: "0640"
  loop:

    # Quiet known and trusted software
    - { src: detections.yaml  }

    # Custom detections
    - { src: exceptions.yaml  }

      # https://nvd.nist.gov/vuln/detail/CVE-2025-32463
    - { src: cve_2025_32463.yaml  }

- name: Ensure Falco modern_ebpf service is enabled and started
  systemd:
    name: falco-modern-bpf
    enabled: yes
    state: started
