---

- name: Install required ClamAV packages
  dnf:
    name:
      - clamav
      - clamd
    state: present


- name: Check if SELinux boolean 'antivirus_can_scan_system' exists
  ansible.builtin.command: getsebool antivirus_can_scan_system
  register: boolean_check
  changed_when: false
  failed_when: false
  ignore_errors: true

- name: Allow ClamAV on-access scanning via SELinux boolean (if boolean exists)
  ansible.builtin.command: setsebool -P antivirus_can_scan_system 1
  changed_when: false
  when: boolean_check.rc == 0

- name: Check if antivirus_tmp_t context is already set for /var/cache/clamd
  ansible.builtin.command: semanage fcontext -l | grep '^/var/cache/clamd(/.*)?[[:space:]]*all files[[:space:]]*system_u:object_r:antivirus_tmp_t:s0'
  register: fcontext_check
  changed_when: false
  failed_when: false
  when: boolean_check.rc == 0

- name: Remove capabilities
  file:
    path: /etc/systemd/system/clamd@.service.d/capabilities.conf
    state: absent
  notify: "daemon reload"

- name: Ensure /var/cache/clamd directory exists
  file:
    path: /var/cache/clamd
    state: directory
    owner: clamscan
    group: clamscan
    mode: '0750'

- name: Add permanent SELinux file context antivirus_tmp_t to /var/cache/clamd (recursive)
  command: semanage fcontext -a -t antivirus_tmp_t '/var/cache/clamd(/.*)?'
  when: fcontext_check.rc != 0 and boolean_check.rc == 0

- name: Apply the SELinux context to existing files/directories (restorecon)
  command: restorecon -R /var/cache/clamd
  when: boolean_check.rc == 0

- name: Deploy application configuration
  ansible.builtin.template:
    src: "../templates/{{ item.template }}"
    dest: "{{ item.dest }}"
    mode: "{{ item.mode }}"
  notify:
    - "restart clamonacc"
    - "restart clamd"
  with_items:
    - { template: "clamd/scan.conf.j2", dest: /etc/clamd.d/scan.conf, mode: "0644" }
    - { template: "clamd/clamav-notify.sh.j2", dest: /usr/local/bin/clamav-notify, mode: "0755" }

- name: Enable and start the freshclam daemon
  systemd:
    name: clamav-freshclam.service
    enabled: yes
    state: started

- name: Enable and start the clamd daemon
  systemd:
    name: clamd@scan.service
    enabled: yes
    state: started

- name: Enable and start the clamonacc daemon
  systemd:
    name: clamonacc.service
    enabled: yes
    state: started


#
