---
- name: Import Falco GPG key
  rpm_key:
    key: https://falco.org/repo/falcosecurity-packages.asc
    state: present
  ignore_errors: true

- name: Refresh package cache if repo added
  dnf:
    update_cache: yes
  when: repo_added.changed

- name: Install Falco package non-interactively with modern_ebpf driver
  dnf:
    name: falco
    state: latest
  environment:
    FALCO_FRONTEND: noninteractive
    FALCO_DRIVER_CHOICE: modern_ebpf

- name: Download additional rules files
  get_url:
    url: "{{ rule.url }}"
    dest: "{{ rule.dest }}"
    mode: '0644'
  loop: "{{ falco_additional_rules }}"
  loop_control:
    loop_var: "rule"
  register: additional_rules_downloaded
  notify: Restart Falco

- name: Deploy Falco configuration with all desired rules files
  template:
    src: templates/falco/falco.yaml.j2
    dest: /etc/falco/falco.yaml
    mode: '0644'
  notify: Restart Falco

- name: Ensure Falco modern_ebpf service is enabled and started
  systemd:
    name: falco-modern-bpf
    enabled: yes
    state: started
