---
- name: Import Falco GPG key using rpm
  ansible.builtin.command: rpm --import https://falco.org/repo/falcosecurity-packages.asc
  args:
    creates: /etc/pki/rpm-gpg/RPM-GPG-KEY-falcosecurity
  changed_when: false

- name: Add Falco YUM repository
  get_url:
    url: https://falco.org/repo/falcosecurity-rpm.repo
    dest: /etc/yum.repos.d/falcosecurity.repo
    mode: '0644'
  register: repo_added


- name: Refresh package cache if repo added
  dnf:
    update_cache: yes
  when: repo_added.changed

- name: Install Falco package non-interactively with modern_ebpf driver
  dnf:
    name: falco
    state: latest
  environment:
    FALCO_FRONTEND: noninteractive
    FALCO_DRIVER_CHOICE: modern_ebpf

- name: Download additional rules files
  get_url:
    url: "{{ rule.url }}"
    dest: "{{ rule.dest }}"
    mode: '0644'
  loop: "{{ falco_additional_rules }}"
  loop_control:
    loop_var: "rule"
  register: additional_rules_downloaded
  notify: Restart Falco

- name: Deploy Falco configuration with all desired rules files
  template:
    src: templates/falco/falco.yaml.j2
    dest: /etc/falco/falco.yaml
    mode: '0644'
  notify: Restart Falco

- name: Ensure Falco modern_ebpf service is enabled and started
  systemd:
    name: falco-modern-bpf
    enabled: yes
    state: started
