---

- name: Install required ClamAV packages
  dnf:
    name:
      - clamav
      - clamd
    state: present

- name: Allow ClamAV on-access scanning via SELinux boolean
  ansible.posix.seboolean:
    name: antivirus_can_scan_system
    state: yes
    persistent: yes
  when: ansible_selinux.status == 'enabled'

- name: Ensure /var/cache/clamd directory exists
  file:
    path: /var/cache/clamd
    state: directory
    mode: '0750'

- name: Deploy application configuration
  ansible.builtin.template:
    src: "../templates/{{ item.template }}"
    dest: "{{ item.dest }}"
    mode: "{{ item.mode }}"
  notify:
    - "restart clamonacc"
    - "restart clamd"
  with_items:
    - { template: "clamd/scan.conf.j2", dest: /etc/clamd.d/scan.conf, mode: "0644" }
    - { template: "clamd/clamav-notify.sh.j2", dest: /usr/local/bin/clamav-notify, mode: "0755" }

- name: Enable and start the freshclam daemon
  systemd:
    name: clamav-freshclam.service
    enabled: yes
    state: started

- name: Enable and start the clamd daemon
  systemd:
    name: clamd@scan.service
    enabled: yes
    state: started

- name: Enable and start the clamonacc daemon
  systemd:
    name: clamonacc.service
    enabled: yes
    state: started


#
