[Unit]
Description=Apply system baseline
Wants=baseline.timer
After=network-online.target

[Service]
Type=oneshot
ExecStart={{ansible_pull_bin}} -U https://github.com/mhahl/unix-baseline baseline.yaml --clean --vault-pass-file /var/db/baseline/.credentials

[Install]
WantedBy=multi-user.target