---

- name: Get exact OpenSSH server version
  ansible.builtin.command: ssh -V
  register: sshd_version_raw
  changed_when: false

- name: Set OpenSSH version fact
  ansible.builtin.set_fact:
    openssh_server_version: "{{ sshd_version_raw.stderr | regex_search('OpenSSH_([\\d\\.]+)p?\\d*', '\\1') | first | default('0.0') | float }}"

- name: Deploy sshd hardening and template
  ansible.builtin.template:
    src: "../templates/{{ item.template }}"
    dest: "{{ item.dest }}"
    mode: "{{ item.mode }}"
  notify: "restart sshd"
  tags:
    - baseline:sshd
    - baseline:sshd:configure
  with_items:
    - { template: ssh/sshd_config, dest: /etc/ssh/sshd_config, mode: "0644" }