---
- name: Deploy sshd hardening and template
  ansible.builtin.template:
    src: "../templates/{{ item.template }}"
    dest: "{{ item.dest }}"
    mode: "{{ item.mode }}"
  notify: "restart sshd"
  tags:
    - baseline:sshd
    - baseline:sshd:configure
  with_items:
    - { template: ssh/sshd_config, dest: /etc/ssh/sshd_config, mode: "0644" }