- name: sigaint-soe | baseline | deploy file templates
  ansible.builtin.template:
    src: "../templates/{{ item.template }}"
    dest: "{{ item.dest }}"
    mode: "{{ item.mode }}"
  with_items:
    - { template: cron/baseline.freebsd, dest: /etc/cron.d/baseline, mode: "0644" }

- name: Install ansible.general collection globally
  become: true
  ansible.builtin.command: >-
    ansible-galaxy collection install ansible.general -p /usr/share/ansible/collections
  args:
    creates: /usr/share/ansible/collections/ansible_collections/ansible/general
  changed_when: false