---
- name: Configure DNS - static resolv.conf (FreeBSD)
  ansible.builtin.include_tasks: dns/resolv_conf.yaml
  when: baseline_os | lower == 'freebsd'
  tags:
    - baseline:dns
    - baseline:dns:configure

- name: Configure DNS - systemd-resolved with DNS-over-TLS (Linux)
  ansible.builtin.include_tasks: dns/systemd_resolved.yaml
  when: baseline_os | lower == 'linux'
  tags:
    - baseline:dns
    - baseline:dns:configure