---
- name: Restart SSSD
  ansible.builtin.service:
    name: sssd
    state: restarted
  when: baseline_os | lower == 'linux'
  listen: "restart sssd"

- name: Restart time synchronization service
  ansible.builtin.service:
    name: "{{ 'ntpd' if baseline_os | lower == 'freebsd' else 'chronyd' }}"
    state: restarted
  when: baseline_os | lower in ['freebsd', 'linux']
  listen: "restart ntp"

- name: Restart SSH daemon
  ansible.builtin.service:
    name: sshd
    state: restarted
  listen: "restart sshd"

- name: Restart syslog service
  ansible.builtin.service:
    name: "{{ 'syslogd' if baseline_os | lower in ['freebsd', 'openbsd'] else 'rsyslog' }}"
    state: restarted
  when: baseline_os | lower in ['freebsd', 'openbsd', 'linux']
  listen: "restart syslog"

- name: Reload audit rules (auditd)
  ansible.builtin.command:
    cmd: /sbin/auditctl -R /etc/audit/audit.rules
  when: baseline_os | lower == 'linux'
  listen: "reload auditd"

- name: Load new audit rules (augenrules)
  ansible.builtin.command:
    cmd: /sbin/augenrules --load
  when: baseline_os | lower == 'linux'
  listen: "reload audit rules"

- name: Restart ypldap
  ansible.builtin.service:
    name: ypldap
    state: restarted
    enabled: true
  when: baseline_os | lower in ['freebsd', 'openbsd']
  listen: "restart ypldap"

- name: Restart ypbind
  ansible.builtin.service:
    name: ypbind
    state: restarted
    enabled: true
  when: baseline_os | lower in ['freebsd', 'openbsd']
  listen: "restart ypbind"

- name: Restart portmap
  ansible.builtin.service:
    name: portmap
    state: restarted
    enabled: true
  when: baseline_os | lower in ['freebsd', 'openbsd']
  listen: "restart portmap"

- name: Update CA trust store
  ansible.builtin.command:
    cmd: /usr/bin/update-ca-trust
  when: baseline_os | lower == 'linux'
  listen: "update ca trust"

- name: Rebuild FreeBSD/OpenBSD login database
  ansible.builtin.command:
    cmd: cap_mkdb /etc/login.conf
  when: baseline_os | lower in ['freebsd', 'openbsd']
  listen: "rebuild login.conf"

- name: Rebuild FreeBSD/OpenBSD password database
  ansible.builtin.command:
    cmd: pwd_mkdb -p /etc/master.passwd
  when: baseline_os | lower in ['freebsd', 'openbsd']
  listen: "rebuild master.passwd"

- name: Rebuild netgroup database
  ansible.builtin.command:
    cmd: netgroup_mkdb /etc/netgroup
  when: baseline_os | lower in ['freebsd', 'openbsd']
  listen: "rebuild netgroup"

- name: Daemon reload
  systemd:
    daemon_reload: yes
  listen: "daemon reload"
  when: baseline_os | lower == 'linux'

- name: Restart vmagent
  systemd:
    name: vmagent
    state: restarted
  listen: "restart vmagent"
  when: baseline_os | lower == 'linux'