json_output: true
json_include_output_property: true
json_include_tags_property: true


grpc_output:
  enabled: true

http_output:
  enabled: true
  url: "{{falco_sidekick}}"
  insecure: true


log_stderr: true
log_syslog: true
log_level: info

stdout_output:
  enabled: true

syslog_output:
  enabled: true

# Load the container plugin (required for many default rules)
plugins:
  - name: container
    library_path: libcontainer.so
    init_config: ""
    open_params: ""

# Rules files (default + custom directory)
rules_files:
{% for file in falco_additional_rules %}
  - {{ file.dest }}
{% endfor %}
  - /etc/falco/falco_rules.yaml
  - /etc/falco/falco_rules.local.yaml
  - /etc/falco/rules.d


watch_config_files: true
engine:
  kind: modern_ebpf

  modern_ebpf:
    buf_size_preset: 6   # Increase if you see dropped events in logs/metrics

priority: warning
output_timeout: 2000

# Prometheus metrics exposure
webserver:
  enabled: true
  listen_port: 8765
  prometheus_metrics_enabled: true

metrics:
  enabled: true
  interval: "30s"